body {
    background-color: #2f2e2e;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
    font-family: sans-serif;
}

button {
    margin: 50px auto;
    background-color: #b07575;
    padding: 12px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: beige;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.25s;
}

button:hover {
    background-color: #965e5e;
}